/* @import url('https://fonts.googleapis.com/css?family=Righteous|Teko:500,600'); */

@font-face {
    font-family: Big Noddle;
    src: url(../Assets/Fonts/big_noodle_titling.ttf);
}

:root {
    /* ==== Colors ==== */
    --Background-Color: #ffffff;
    --Foreground-Color: #4a4a4a;
    --Main-Background-Color: #ececec;
    --Border-Color: #0000002d;
    --Hover-Gray-Foreground-Color: #dddddd;
    --OceanBlue-Gradient: linear-gradient(to bottom left, #233192, #1bFFFF);

    /* ==== Properties ==== */

    /* Border */
    --Border-Normal: 2px solid var(--Border-Color);
    --Border-Min: 3px solid var(--Border-Color);
    --Border-Max: 3.5px solid var(--Border-Color);

    /* Fonts */
    --Big-Noodle: Big Noddle;
    --Monaco: monacoB;
    --Code-Font-Size: 12px;
    --Normal-Font-Size: 20px;
    --Min-Font-Size: 30px;
    --Max-Font-Size: 50px;
}

*, *::before, *::after {
    text-decoration: none;
    list-style-type: none;
    color: var(--Foreground-Color);
    margin: 0;
}


/*=========================================
                Desktop
=========================================*/


/*========
                   Home
======================================*/


/*========== Header ==========*/
header {
    background: var(--Background-Color);
    line-height: 20px;
    overflow: hidden;
    padding: 20px;
    margin: 0px 0px 20px 0px;
    box-shadow: 0 0 6px 0.25px #393939;
}
header .wrapper {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .wrapper h1 {
    font-family: 'Righteous', cursive;
    color: var(--Foreground-Color);
}
header nav ul {
    padding: 0;
}
header nav ul li{
    display: inline;
    margin: 10px;
    padding: 10px;
    font-family: Big Noddle;
    font-size: 22px;
}
header nav ul li a:hover {
    cursor: pointer;
    color: var(--Foreground-Color);
}


/*========== Main Section ==========*/
section {
    background: var(--Background-Color);
    width: 80%;
    margin: 40px auto;
    padding: 20px 0;
}
section h1 {
    margin: auto;
    padding: 0 0 5px 20px;
    font-family: Big Noddle;
    font-size: 30px;
}
section .post-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
section .post-wrapper .content {
    width: 30%;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.04);
    border: 1.25px solid rgba(0,0,0,.09);
    border-radius: 2px;
}
section .post-wrapper .content a img {
    width: 100%;
    margin: 0;
    padding: 0;
}
section .post-wrapper .content .title-wrapper {
    padding: 10px;
    position: relative;
}
section .post-wrapper .content .title-wrapper .post-title-link {
    font-family: 'Teko', sans-serif;
}

section .pagination {
    display: flex;
    justify-content: center;
}
section .pagination .page {
    color: var(--Foreground-Color);
    border: 1px solid var(--Hover-Gray-Foreground-Color);
    margin: 10px 0;
    padding: 10px 20px;
}
section .pagination .page:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
section .pagination .page:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
section .pagination .page:hover {
    background: var(--Hover-Gray-Foreground-Color);
}

/*========== Footer ==========*/
footer {
    background: var(--Background-Color);
    text-align: center;
    overflow: hidden;
    box-shadow: 0 -1px 5px #393939;
}
footer .social-media {
    padding: 10px 0;
}
footer .social-media a { 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}
footer .social-media a i {
    color: var(--Foreground-Color);
    font-size: 35px;
    transition: 0.5s all;
}
footer .social-media a:hover > i {
    transform: scale(1.6) rotate(-25deg);
}
footer p {
    margin: 0 0 10px 0;
    color: var(--Foreground-Color);
}

/*========
                   About
======================================*/

#section {
    width: 60%;
}
#section .about-heading {
    font-size: 35px;
    margin: 20px 0 20px 0;
}
#section p {
    margin: 0 0 0 10px;
}




/*=========================================
            Smartphone & Phablet 
=========================================*/


@media only screen and (max-width: 480px) {

    /*========
                       Home
    ======================================*/

    /*========== Header ==========*/
    header {
        padding: 0;
        margin: 0;
    }
    header .wrapper {
        width: 100%;
        display: block;
    }
    header .nav-btn{
        display: block;
        float: right;
        font-size: 30px;
        color: #5c5c5c;
        padding: 20px 10px 20px 0px;
    }
    header .nav-btn:before{
        content: '\f0c9';
        font-family: fontAwesome;
    }
    header .nav-btn.active:before{
        content: '\f00d';
        font-family: fontAwesome;
    }
    header .nav-btn:hover{
        cursor: pointer;
    }
    header .wrapper h1 {
        text-align: left;
        padding: 20px 0px 20px 10px;
    }
    header .wrapper nav {
        height: 0;
        transition: 0.3s;
    }
    header .wrapper nav.active {
        height: 150px;
    }
    header .wrapper nav ul {
        margin: 0;
    }
    header .wrapper nav ul li{
        display: block;
        margin: 0;
        text-align: center;
    }
    header .wrapper nav ul li:hover{
        background: var(--Hover-Gray-Foreground-Color);
        cursor: pointer;
    }
    header .wrapper nav li a{
        color: var(--Foreground-Color);
        font-family: BigNoodleTitling;
        font-size: 22px;
    }

    /*========== Content Section ==========*/
    section {
        width: 90%;
        margin: 30px auto;
    }
    section .post-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    section .post-wrapper .content {
        width: calc(100% - 6%);
        overflow: hidden;
        box-shadow: none;
        margin: 20px auto;
    }
    section .post-wrapper .content .title-wrapper {
        display: none;
    }
    
    
    /*========
                       About
    ======================================*/

    #section {
        height: 68vh;
        width: 75%;
    }


    /*========
                    Post Page
    ======================================*/

    #post-page-section {
        width: 90%;
    }

}